#pokemon-stat .pokemon-name {
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;
  color: $primary-color;
}

.pokemon-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .pokemon-types {
    bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .type {
      text-transform: uppercase;
      padding: 0.2rem 1rem;
      font-size: 0.8rem;
      border-radius: 3px;
    }
  }

  img {
    width: 100%;
    max-width: 150px;
  }
}
.pokemon-measures {
  display: flex;
  gap: 30px;
  color: $primary-color;
  font-size: 1.5rem;
  font-weight: bold;
  color: $primary-color;
}
.section-title {
  color: $primary-color;
  margin-bottom: 0.5rem;
}
.section-body {
  text-transform: capitalize;
}

.section {
  margin-bottom: 2rem;
  background-color: $bg-color-darker;
  border-radius: 15px;
  padding: 1rem;
  border: 2px solid $primary-color;

  &.accordion {
    padding: 0;
  }
}
.pokemon-stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.stat {
  display: flex;
  align-items: center;
  gap: 10px;
  .stat-img {
    width: 30px;
  }

  .custom-meter {
    width: 80%;
    height: 25px;
    background-color: $bg-color;
    border-radius: 25px;
    position: relative;
    overflow: hidden;

    .meter-value {
      height: 100%;
      background-color: $primary-color;
    }
  }
}

// Accordion
.accordion {
  width: 100%;
}
.accordion-item {
  border-radius: 15px;
  margin-bottom: 5px;
}
.accordion-header {
  display: flex;
  padding-inline: 1rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  .accordion-title {
    color: $primary-color;
    padding-block: 10px;
  }
  .accordion-toggle {
    width: 35px;
    height: 35px;

    &.turned {
      transform: rotate(180deg);
    }
  }
}
.accordion-content {
  font-size: 1rem;
  padding-inline: 1rem;
  transition: all 0.3s ease-in-out;
  max-height: 0px;
  overflow: hidden;
  color: #fff;

  &.active {
    max-height: 5000px;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 700px) {
  #pokemon-stat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .section {
    margin-bottom: 0;
  }
  #pokemonMoves {
    grid-column: span 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
