.pokemon-name {
  text-transform: capitalize;
  text-align: center;
  font-size: 2rem;
}

.pokemon-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  img {
    width: 100%;
    max-width: 15rem;
  }
  .pokemon-types {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    .type {
      padding: 0.2rem 1rem;
      font-size: 0.8rem;
      border-radius: 100vh;
    }
  }
}

.section-body {
  text-transform: capitalize;
}

.section {
  margin-bottom: 2rem;
}

.pokemon-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.stat {
  display: flex;
  gap: 5px;
  .stat-img {
    width: 35px;
  }
}
