// Reset
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  border: none;
  transition: all 0.2s;
  list-style: none;
  text-decoration: none;
}

// Typography
@import url("https://fonts.googleapis.com/css2?family=Tomorrow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Colors
@import "./colors";

// Utilities
.important-text {
  color: $primary-color;
}
.bold {
  font-weight: 600;
}
.underline {
  text-decoration: underline;
}
.body-container {
  padding: 1.5rem;
  max-width: 1000px;
  margin: auto;
}
.btn {
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  background-color: $primary-color;
  color: $bg-color;

  &:hover {
    box-shadow: 0 0 10px 1px $primary-color;
  }
}
.warning-text {
  color: red;
}
body {
  background-color: $bg-color;
  color: $white;
  font-family: "Tomorrow";
}
.fade-in {
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;

  &.show {
    transform: translateY(0);
    opacity: 1;
  }
}
a {
  color: inherit;
  text-decoration: none;
}
#pokemonList,
#pokemonListByType {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.search-container {
  margin-bottom: 1rem;
  display: flex;
  gap: 10px;
  width: 100%;

  #searchInput {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 16px;
    background-color: $bg-color-darker;
    color: $white;
    border: solid 2px lighten($color: $bg-color, $amount: 30%);

    &:focus {
      border: solid 2px $primary-color;
      box-shadow: 0 0 3px 2px $primary-color;
    }
  }
  #searchBtn,
  #clearBtn {
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    background-color: $primary-color;
    font-size: 16px;
    display: flex;
    align-items: center;

    img {
      width: 25px;
    }
  }
  #clearBtn {
    background: none;
  }
}
#categories {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 100%;
}
.category {
  background: $bg-color-darker;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;

  .type-img {
    width: 25px;
    border-radius: 5px;
    padding: 4px;
    @each $type, $color in $pokemon-types {
      ##{$type} {
        background-color: $color;
        color: if(lightness($color) > 50, $bg-color-darker, $white);
      }
    }
  }

  &:hover {
    box-shadow: 0px 0px 5px 3px $primary-color;
  }
}
.pagination-btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;

  #nextBtn,
  #prevBtn {
    padding: 0.6rem;
    text-transform: uppercase;
    width: 40%;
    text-align: center;
  }
}
// Footer
footer {
  background-color: $bg-color-darker;
  padding: 1rem;
  text-align: center;
  font-family: "Tomorrow";
  border-radius: 10px 10px 0 0;

  .footer-content {
    display: flex;
    flex-direction: column;

    .footer-image {
      width: 50%;
      margin: auto;
      max-width: 200px;
      margin-bottom: 10px;
    }

    .footer-links {
      padding: 0;
      display: flex;
      flex-direction: column;

      a {
        color: $primary-color;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  #pokemonList,
  #pokemonListByType {
    grid-template-columns: repeat(4, 1fr);
  }
  #categories {
    grid-template-columns: repeat(6, 1fr);
  }
}
// Pokemon Card
@import "./pokemon-card";

// Pokemon Stats
@import "./pokemon-stats";
