<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Pokémon Stat" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../public/logo.JPG" />

    <link rel="icon" type="image/jpg" href="../public/logo.JPG" />
    <link rel="apple-touch-icon" sizes="180x180" href="../public/logo.JPG" />

    <link rel="stylesheet" href="../style/style.css" />

    <title>Pokémon Stats</title>
  </head>
  <body>
    <nav>
      <a href="../index.html" class="important-text"
        ><img src="../public/icons/back.svg" /> Back</a
      >
      <div class="pokemon-id important-text"></div>
    </nav>
    <div id="pokemon-stat" class="body-container">
      <div class="pokemon-img-container section" id="pokemonImgContainer">
        <h2 class="pokemon-name"></h2>
        <div class="pokemon-types"></div>

        <div class="pokemon-measures">
          <div id="pokemonWeight"></div>
          <p>|</p>
          <div id="pokemonHeight"></div>
        </div>
      </div>

      <div class="pokemon-stats section" id="pokemonStats">
        <h2 class="section-title">Base Stats</h2>
      </div>

      <div class="pokemon-description section">
        <h2 class="section-title">Description</h2>
        <div class="section-content" id="pokemonDescription"></div>
      </div>

      <div class="accordion section pokemon-abilities">
        <div class="accordion-item">
          <div class="accordion-header">
            <h2 class="accordion-title">Abilities</h2>
            <img
              src="../public/icons/arrow-down.svg"
              class="accordion-toggle"
            />
          </div>
          <div class="accordion-content" id="pokemonAbilities"></div>
        </div>
      </div>

      <div class="accordion section pokemon-locations">
        <div class="accordion-item">
          <div class="accordion-header">
            <h2 class="accordion-title">Locations</h2>
            <img
              src="../public/icons/arrow-down.svg"
              class="accordion-toggle"
            />
          </div>
          <div class="accordion-content" id="pokemonLocations"></div>
        </div>
      </div>

      <div class="accordion section pokemon-moves">
        <div class="accordion-item">
          <div class="accordion-header">
            <h2 class="accordion-title">Moves</h2>
            <img
              src="../public/icons/arrow-down.svg"
              class="accordion-toggle"
            />
          </div>
          <div class="accordion-content" id="pokemonMoves"></div>
        </div>
      </div>
    </div>
    <script src="../js/pokemonStats.js"></script>
  </body>
</html>
