<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta property="og:title" content="Pokémon Type" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="../public/logo.JPG" />

    <link rel="icon" type="image/jpg" href="../public/logo.JPG" />
    <link rel="apple-touch-icon" sizes="180x180" href="../public/logo.JPG" />

    <link rel="stylesheet" href="../style/style.css" />

    <title>Pokémon Type</title>
  </head>
  <body>
    <div class="body-container">
      <ul id="pokemonListByType"></ul>
    </div>
    <script src="../js/pokemon-types.js"></script>
  </body>
</html>
