.pokemon-card {
	background-color: $gray;
	border-radius: 1rem;
	color: $black;
	box-shadow: 5px 5px 15px 3px black;
	padding-block: 0.5rem;
	text-transform: uppercase;
	position: relative;
	isolation: isolate;
	overflow: hidden;

	.pokemon-id-back {
		position: absolute;
		top: 1rem;
		left: 1rem;
		font-size: 6rem;
		font-weight: 800;
		color: $white;
		text-shadow: 0 0 10px lighten($color: $black, $amount: 10);
		z-index: -1;
	}

	.pokemon-img {
		padding-inline: 1rem;
		display: flex;
		justify-content: center;
		img {
			width: 100%;
			max-width: 6rem;
		}
	}

	.pokemon-info {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		padding-inline: 0.5rem;
		align-items: center;
		text-align: center;

		.name-container {
			display: flex;
			align-items: center;
			justify-content: center;
			column-gap: 0.5rem;
			flex-wrap: wrap;
		}

		.pokemon-name {
			font-size: 1.4rem;
		}

		.pokemon-types {
			display: flex;
			gap: 0.5rem;
			font-size: 0.75rem;
			font-weight: 600;
			flex-wrap: wrap;
			justify-content: center;

			.type {
				padding: 0.25rem 0.5rem;
				border-radius: 100vmax;
			}
		}

		.pokemon-stats {
			display: flex;
			gap: 1rem;
			font-size: 0.85rem;

			.stat {
				background-color: $white;
				padding: 0.25rem 0.5rem;
				border-radius: 100vmax;
			}
		}
	}
}
