* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  text-decoration: none;
  font-family: "Courier New", monospace;
  transition: all 0.2s ease;
}
body {
  background-color: $bg-color-darker;
  color: $white;
}
.btn {
  outline: none;
  border: none;
  background-color: $white;
  color: $bg-color-darker;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
