.pokemon-name {
  text-transform: capitalize;
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem;
}

.stats-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;

  .pokemon-img-container {
    place-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    img {
      width: 100%;
      max-width: 15rem;
    }
    .pokemon-types {
      position: absolute;
      bottom: 1rem;
    }
  }
  .section-title {
    font-size: 2rem;
  }
  .section-body {
    text-transform: capitalize;
  }
  .section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;

    .pokemon-stats {
      grid-column: 1/2 span;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      font-size: 1.5rem;
      gap: 10px;
      place-self: center;

      .stat {
        background-color: $bg-color;
        padding: 0.5rem;
        border-radius: 10px;
        display: flex;
        gap: 5px;

        .stat-img {
          width: 2rem;
        }

        .stat-name {
          text-align: center;
        }
      }
      .pokemon-abilities {
        background-color: $bg-color;
        padding: 0.5rem;
        border-radius: 10px;
        grid-column: 2;
        grid-row: 4 / 5 span;
        font-size: 1.3rem;
      }
    }
  }
  .pokemon-moves {
    background-color: $bg-color;
    padding: 0.5rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / 2 span;
    column-gap: 15px;
    font-size: 1.2rem;
    margin-top: 2rem;
    place-self: center;
  }
}

@media screen and (min-width: 700px) {
  .pokemon-name {
    font-size: 4rem;
  }

  .stats-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .pokemon-img-container {
      width: 60%;
      img {
        max-width: 100%;
      }
    }

    .section {
      .pokemon-stats {
        transform: scale(1.2);
      }
    }
    .pokemon-moves {
      grid-template-columns: repeat(5, 1fr);
      column-gap: 50px;
    }
  }
}
